<div class="page-content menu">
  <div class="menu-items">
    <div class="menu-items__header">
      <div class="menu-items__group-title">
        <h1>Menu</h1>
      </div>
      <div class="menu-items__group-actions">
        <button mat-menu-item (click)="addGroup()" color="primary" aria-label="add group">
          <mat-icon aria-label="add group">add</mat-icon>
          <span class="menu-items__group-actions-label">Add group</span>
        </button> 
        <button mat-menu-item (click)="addItem('')" aria-label="add item">
          <mat-icon aria-label="add item">add</mat-icon> 
          <span class="menu-items__group-actions-label">Add item</span>
        </button> 
      </div>
    </div>
    <div class="menu-items__list">
      <div class="menu-items__group-list" role="list"  *ngFor="let group of menuFilteredList">
       
        <div *ngIf="!selectedGroup" class="menu-items__group" role="listitem" >
          <div class="menu-items__group-name-description">
            <h2 class="menu-items__group-name">{{group.name}} </h2>
            <span class="menu-items__group-description">{{group.description}} </span>
          </div>
          
          <div class="menu-items__group-actions">
            <mat-chip> {{ group.items.length }} items</mat-chip>

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Group actions">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="addItem(group.id || '')" aria-label="add item">
                <mat-icon aria-label="add item">add</mat-icon> 
                <span>Add item</span>
              </button> 
              <button mat-menu-item (click)="editGroup(group.id)" color="primary" aria-label="edit group">
                <mat-icon>edit</mat-icon>
                <span>Edit group</span>
              </button> 
              <button   mat-menu-item [disabled]="group.items.length > 0" (click)="deleteGroup(group.id)" color="primary" aria-label="remove group">
                <mat-icon>delete</mat-icon>
                <span>Delete empty group</span>
              </button> 
            </mat-menu>
          </div>
        </div>

        <div *ngIf="!group.items.length" class="menu-items__group-no-items"> No items </div>
        <div *ngIf="group.items.length" role="list"  >
          <div class="menu-items__group-item" *ngFor="let item of group.items" role="listitem" >
            <div class="menu-items__group-item-content">
              <div class="menu-items__group-item-content-item menu-items__group-item-code">
                <span class="menu-items__group-item-content-item-label">Code</span>
                <span>{{item.code}}</span>
              </div>
              <div class="menu-items__group-item-content-item menu-items__group-item-name">
                <span class="menu-items__group-item-content-item-label">Name</span>
                <span>{{item.name}}</span>
              </div>
              <div class="menu-items__group-item-content-item menu-items__group-item-description">
                <span class="menu-items__group-item-content-item-label">Description</span>
                <span>{{item.description || '-'}}</span>
              </div>
              <div class="menu-items__group-item-content-item menu-items__group-item-price">
                <span class="menu-items__group-item-content-item-label">Price</span>
                <span>{{item.price}}</span>
              </div>
            </div>
            
            <div class="menu-items__group-item-actions">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Group actions">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editItem(item.id, group.id)" color="primary" aria-label="edit item">
                  <mat-icon>edit</mat-icon>
                  <span>Edit item</span>
                </button> 
                <button mat-menu-item (click)="deleteItem(item.id, group.id)" color="primary" aria-label="remove item">
                  <mat-icon>delete</mat-icon>
                  <span>Delete item</span>
                </button> 
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>