.menu {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  &-groups {
    &__list {

      &-item {
        cursor: pointer;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--selected {
          color: white;
          background-color: #3f51b5;
        }
      }
    }
  }
  &-items{
    padding-bottom: 6rem;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
    &__group {
      display: flex;
      align-items: center;
      padding: 1rem 0rem 1rem 1rem;
      justify-content: space-between;
      border-bottom:  1px solid lightgray;
      background-color: #f9f9f9;
      &:first-child {
        border-top:  1px solid lightgray;
      }
      &-title {
        & h2,  & h1 {
          white-space: nowrap;
          
          margin: 0;
          font-weight: 600;
        }
        & h4 {
          color: gray;
        }
      }
      &-code {
        word-break: break-word;
      }
      &-name {
        word-break: break-word;
        width: 100%;
        font-weight: 600;
        white-space: break-spaces;
        margin: 0;
        padding-right: 1rem;
        &-description {
          display: flex;
          flex-direction: column;
          word-break: break-word;
        }
      }
      &-list {
      }

      &-no-items {
        padding: 1rem;
        text-align: center;
        border-bottom:  1px solid lightgray;
        color: gray;
      }

      &-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &-label {
          white-space: nowrap;
        }
        &--first {
          justify-content: center;
        }
      }
      &-item {
        display: flex;
        padding: 1rem 0rem 1rem 1rem;

        border-bottom:  1px solid lightgray;
        &:first-child {
          border-top:  1px solid lightgray;
        }
        &-actions {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          align-items: center;
          padding: 0.5rem;
          max-width: 100px;
  
          &--first {
            justify-content: center;
          }
        }
        &-content {
          width: 100%;


          &-headers{
            display: none;
          }
          &-item{
            display: flex;
            flex-direction: column;
            padding: 0.5rem 0;
            font-size: 1rem;
            &-label {
              font-size: 12px;
              font-weight: 600;

              &-icon {
                &--visible {
                  color: green;
                }
              }
            }
          }

          @media screen and (min-width: 460px) {

            display: grid;
            align-items: center;
            grid-template-columns: 70px 100px  1fr 2fr 3fr 1fr;
          }

        }
      }
    }
  }
}

.icon-button {
  display: flex;
  justify-content: center; 
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #3f51b5;
  &-label{
    font-size: 1rem;
    padding-left: 5px;
  }
}