  :host {
    .image-modal {
      padding: 1.5rem;
      min-width: 360px;
      min-height: 600px;

      @media screen and (min-width: 460px) {
        min-width: 600px;
      }
      &__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 1rem;
          h1 {
            margin: 0;
            padding: 0;
  
            &::before {
              display: none;
            }
          }
          &-close-button {
            transform: translateX(1rem);
          }
      }
  
      &__content{
        display: flex;
        flex-direction: column;
        padding: 0;
      }
  
      &__actions.mat-mdc-dialog-actions {
        padding: 0;
        justify-content: space-between;
        &-button {
          width: 100%;
        }
      }
    }
  }
